# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\development\Python\django_user_auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
